@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

#wrapper{
  position: relative;
  width: 90%;
  margin: 0 auto;
}

body{
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  font-size: 20px;
  font-weight: 300;
 background-color:#DDCFB7;
}

}
header{
  color: #fff;
  padding-bottom: 0.5em;
  position: relative;
}

main {
  font-size: 18px;
  background-color: black;
  height:auto;
color: #fff;
}

h1{
  font-size: 0px;
}

h2{
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  font-weight: 600;
}

h2 a{
  color: #000;
  background-color: #fff;
}

h2 a:hover{
  color: #fff;
  background-color: darkgreen;
}

h3{
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background: #fff;
  color: darkgreen;
}
                     
nav {
  position: fixed;
  top: 0;
  width: 90%;
  margin: 0 auto;
}

nav > ul {
  margin-top: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1.5fr 2fr 2.5fr 1.5fr 1.5fr;
  text-align: center;
}

nav ul {
  padding-left: 0;
}

ul > li {
  display: inline-block;
  position: relative;
}

ul > li > ul {
  display: none;
}

ul > li:hover > ul {
  display: block;
  position: absolute;
}

ul > li > ul > li {
  display: block;
}

nav ul {
  background-color: #C31114;
}

li > a {
  display: block;
  padding: 10px;
}

ul > li > ul > li {
  background: #FFFFFF;
  border-top: 1px solid #F7F3F3;
}

                 
footer {
  position: fixed;
  bottom: 0;
  color: #fff;
  background-color: #156110;
  width: 90%;
  align-items: baseline;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "email engage call";
}

footer > ul {
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  text-align: center;
}

footer > ul > li{
  padding-left: 10px;
  padding-right: 10px;
}

footer ul {
  padding-left: 0;
  background-color: #156110;
}

#engage{
  position: relative;
  right: 20px;
  grid-area: contact;
}

#email{
  position: relative;
  right: 20px;
  grid-area: email;
}

#home main{
   z-index: -1;
  width: 82%;
  position: relative;
  top: 20px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 250px 50%;
  grid-gap: 25px;
  grid-template-areas:
  "welcome-message" "ubs-logo";
  margin-top: 35px;
  padding-left: 20%;

#home main img{
  grid-area: ubs-logo;
  margin-top: 100%;
  padding-bottom: 50;
}

#home main p{
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
text-align:center;
	width: 70%;
}

#home main h2{
  padding-top: 50px;
}

#home main article{
  grid-area: welcome-message;
}

                      
#about main{
  width: 90%;
  padding-left: 10%;
  padding-top: 8%;
  padding-right: 13px;
  padding-bottom: 0;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  grid-gap: 10px;
  grid-template-areas:
    "mission" "mission" "history"
}

#mission{
  grid-area: mission;
}

#history{
  grid-area: history;
}
